<section id="about" class="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 bounceInLeft animated">
                <h1>Bem vindo ao RB Learning. Cursos online e gratuitos!</h1>
                <p>O objetivo desse portal é compartilhar conhecimento no formato de guias, dicas, artigos, videos e cursos relacionados ao desenvolvimento de software.</p>
                <div class="row">
                	<div class="col-md-4 hidden-xs col-xs-12 scrollpoint sp-effect1">
                		<img src="assets/images/rudolfoborges.png" class="image-bordered img-responsive image-actor" alt="Rudolfo Borges">
                	</div>
                	<div class="col-md-8 hidden-xs col-xs-12 scrollpoint sp-effect1 about-actor">
						<p>O autor, Rudolfo Borges, possui 8+ anos de experiência em TI e ama compartilhar conhecimento. Bacharel em Ciência da Computação é entusiasta Java, JavaScript, NodeJS, Angular, Ruby e Mobile</p>	                		
                	</div>
                </div>
                
                <a href="#" class="btn btn-primary btn-about">Saiba mais sobre o autor</a>
               </div>
               <div class="col-md-6 col-xs-12 bounceInRight animated">
                <div class="welcome-bg">
                  <img src="assets/images/mac-and-coffee.png" alt="work space">
                </div>
               </div>
		</div>
	</div>
</section>

<section id="lessions" class="lessions">
	<div class="container">
		<h1><i class="fa fa-leanpub" aria-hidden="true"></i>  Material Disponível</h1>
		<h2>Relação de guias, dicas, artigos, videos e cursos disponíveis.</h2>
		<ul class="topics">
			<li ng-repeat="topic in ctrl.topics">
				<span class="col-topic-color" style="background-color: {{topic.tagColor}}"></span>
				<span class="col-topic-text">{{topic.name}}</span>
			</li>
		</ul>
		
		<ul class="lessions-itens">
			<li class="lession-item">
				<div class="lession-item-header">
					<div class="lession-item-header-icon" style="background-color: #3FC380;"><i class="devicon-nodejs-plain"></i></div>
					<div class="lession-item-header-title">
						<p class="title">Lorem ipsum dolor sit amet.</p>
						<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate mi ut mi blandit fringilla. Maecenas non pellentesque quam. Fusce.</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="lession-item-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed purus nec ante consequat bibendum nec et lacus. Vestibulum varius euismod pellentesque. Mauris diam tortor, sodales non dictum non, aliquam efficitur metus. Quisque tellus libero, varius lacinia cursus id, euismod a lectus. Cras tincidunt lectus vitae nulla semper tincidunt. Morbi pretium est non ultricies rhoncus. Praesent massa ligula, lobortis in posuere a, ornare nec lacus. Mauris porttitor fermentum libero in elementum. Nam dapibus nulla at ex placerat pellentesque.

Integer blandit lectus at ultricies imperdiet. Etiam nec gravida nunc. Nam a dolor tortor. Sed cursus metus eros, nec ultrices nibh ornare vitae. Aenean sapien elit, finibus vitae elementum id, finibus ut ex. Aliquam aliquam lorem vel nibh scelerisque molestie. Sed pharetra maximus lobortis. Pellentesque a egestas nunc, a eleifend est. Fusce dapibus lorem sed posuere aliquet. Sed volutpat, lectus et varius placerat, magna odio sagittis massa, at molestie ipsum tortor non ipsum. Sed aliquam lorem tellus, nec lobortis mauris sollicitudin a. Donec volutpat nunc aliquam dolor fringilla dictum. Nam vel ipsum sollicitudin leo varius tempor. Quisque egestas mi enim, nec rhoncus mauris pulvinar ut.

Pellentesque ut diam sit amet turpis consectetur placerat eget nec risus. Curabitur laoreet ultrices pulvinar. Donec leo odio, bibendum fringilla erat eget, tincidunt egestas leo. Phasellus varius urna sed sapien volutpat malesuada. Nam rhoncus augue sed nisl sagittis facilisis. Donec gravida, lorem eu efficitur commodo, ante metus mattis ligula, ut vehicula sem mi eu massa. Sed feugiat, tortor eget sagittis euismod, eros ligula pretium erat, quis pretium diam tortor quis purus. Donec blandit eget dui a consequat.

					
				</div>				
			</li>
			
			<li class="lession-item">
				<div class="lession-item-header">
					<div class="lession-item-header-icon" style="background-color: #EC644B;"><i class="devicon-ruby-plain"></i></div>
					<div class="lession-item-header-title">
						<p class="title">Lorem ipsum dolor sit amet.</p>
						<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate mi ut mi blandit fringilla. Maecenas non pellentesque quam. Fusce.</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="lession-item-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed purus nec ante consequat bibendum nec et lacus. Vestibulum varius euismod pellentesque. Mauris diam tortor, sodales non dictum non, aliquam efficitur metus. Quisque tellus libero, varius lacinia cursus id, euismod a lectus. Cras tincidunt lectus vitae nulla semper tincidunt. Morbi pretium est non ultricies rhoncus. Praesent massa ligula, lobortis in posuere a, ornare nec lacus. Mauris porttitor fermentum libero in elementum. Nam dapibus nulla at ex placerat pellentesque.

Integer blandit lectus at ultricies imperdiet. Etiam nec gravida nunc. Nam a dolor tortor. Sed cursus metus eros, nec ultrices nibh ornare vitae. Aenean sapien elit, finibus vitae elementum id, finibus ut ex. Aliquam aliquam lorem vel nibh scelerisque molestie. Sed pharetra maximus lobortis. Pellentesque a egestas nunc, a eleifend est. Fusce dapibus lorem sed posuere aliquet. Sed volutpat, lectus et varius placerat, magna odio sagittis massa, at molestie ipsum tortor non ipsum. Sed aliquam lorem tellus, nec lobortis mauris sollicitudin a. Donec volutpat nunc aliquam dolor fringilla dictum. Nam vel ipsum sollicitudin leo varius tempor. Quisque egestas mi enim, nec rhoncus mauris pulvinar ut.

Pellentesque ut diam sit amet turpis consectetur placerat eget nec risus. Curabitur laoreet ultrices pulvinar. Donec leo odio, bibendum fringilla erat eget, tincidunt egestas leo. Phasellus varius urna sed sapien volutpat malesuada. Nam rhoncus augue sed nisl sagittis facilisis. Donec gravida, lorem eu efficitur commodo, ante metus mattis ligula, ut vehicula sem mi eu massa. Sed feugiat, tortor eget sagittis euismod, eros ligula pretium erat, quis pretium diam tortor quis purus. Donec blandit eget dui a consequat.

					
				</div>				
			</li>
			
			<li class="lession-item">
				<div class="lession-item-header">
					<div class="lession-item-header-icon" style="background-color: #F39C12"><i class="devicon-javascript-plain"></i></div>
					<div class="lession-item-header-title">
						<p class="title">Lorem ipsum dolor sit amet.</p>
						<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate mi ut mi blandit fringilla. Maecenas non pellentesque quam. Fusce.</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="lession-item-body">
					<p class="video">
						<img alt="video" src="assets/images/video.png">
					</p>
				</div>				
			</li>
			
			<li class="lession-item">
				<div class="lession-item-header">
					<div class="lession-item-header-icon" style="background-color: #F39C12;"><i class="devicon-java-plain"></i></div>
					<div class="lession-item-header-title">
						<p class="title">Lorem ipsum dolor sit amet.</p>
						<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate mi ut mi blandit fringilla. Maecenas non pellentesque quam. Fusce.</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="lession-item-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed purus nec ante consequat bibendum nec et lacus. Vestibulum varius euismod pellentesque. Mauris diam tortor, sodales non dictum non, aliquam efficitur metus. Quisque tellus libero, varius lacinia cursus id, euismod a lectus. Cras tincidunt lectus vitae nulla semper tincidunt. Morbi pretium est non ultricies rhoncus. Praesent massa ligula, lobortis in posuere a, ornare nec lacus. Mauris porttitor fermentum libero in elementum. Nam dapibus nulla at ex placerat pellentesque.

Integer blandit lectus at ultricies imperdiet. Etiam nec gravida nunc. Nam a dolor tortor. Sed cursus metus eros, nec ultrices nibh ornare vitae. Aenean sapien elit, finibus vitae elementum id, finibus ut ex. Aliquam aliquam lorem vel nibh scelerisque molestie. Sed pharetra maximus lobortis. Pellentesque a egestas nunc, a eleifend est. Fusce dapibus lorem sed posuere aliquet. Sed volutpat, lectus et varius placerat, magna odio sagittis massa, at molestie ipsum tortor non ipsum. Sed aliquam lorem tellus, nec lobortis mauris sollicitudin a. Donec volutpat nunc aliquam dolor fringilla dictum. Nam vel ipsum sollicitudin leo varius tempor. Quisque egestas mi enim, nec rhoncus mauris pulvinar ut.

Pellentesque ut diam sit amet turpis consectetur placerat eget nec risus. Curabitur laoreet ultrices pulvinar. Donec leo odio, bibendum fringilla erat eget, tincidunt egestas leo. Phasellus varius urna sed sapien volutpat malesuada. Nam rhoncus augue sed nisl sagittis facilisis. Donec gravida, lorem eu efficitur commodo, ante metus mattis ligula, ut vehicula sem mi eu massa. Sed feugiat, tortor eget sagittis euismod, eros ligula pretium erat, quis pretium diam tortor quis purus. Donec blandit eget dui a consequat.

					
				</div>				
			</li>
			
			<li class="lession-item">
				<div class="lession-item-header">
					<div class="lession-item-header-icon" style="background-color: #F5D76E"><i class="fa fa-mobile"></i></div>
					<div class="lession-item-header-title">
						<p class="title">Lorem ipsum dolor sit amet.</p>
						<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate mi ut mi blandit fringilla. Maecenas non pellentesque quam. Fusce.</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="lession-item-body">
					<p class="video">
						<img alt="video" src="assets/images/video.png">
					</p>
				</div>				
			</li>
			
		</ul>
		
	</div>
</section>