.lessions {
  background: #fff;
  font-size: 14px;
  font-weight: 400;

  h1 {
    font-size: 24px;
    margin: 40px 0 0 0;
    font-weight: inherit;
  }

  h2 {
    font-size: 18px;
    margin: 5px 0 0 0;
    font-weight: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul.lessions-itens {
    margin: 50px 0 0 0;

    li {
      display: inline-block;
      margin-right: 35px;
      margin-bottom: 35px;
      width: 40%;
      border: 1px solid #F5F5F5;
      border-radius: 5px;

      div {
        min-height: 150px;
      }

      div.col-lession-color {
        text-align: center;
        color: #fff;
        font-size: 70px;
        padding-top: 15px;
        width: 25%;
        float: left;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      div.col-lession-body {
        width: 75%;
        float: right;
      }

      div.col-lession-clean {
        float: none;
      }
    }
  }

  ul.topics {
    margin: 20px 0 0 0;

    li {
      display: inline-block;
      margin-right: 40px;
      height: 35px;

      span.col-topic-color {
        display: inline-block;
        width: 10px;
        height: 35px;
      }

      span.col-topic-text {
        display: inline-block;
        vertical-align: middle;
        margin-top: -20px;
        margin-left: 10px;
        min-height: 35px;
      }
    }
  }

}
